@media only screen and (max-width: 1435px) {
  .first-container {
    margin-left: 5%;
    margin-right: 5%;
  }
  .second-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media only screen and (max-width: 1250px) {
  .first-container {
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }
  .first_about_us_image {
    float: none;
    margin-left: 5%;
    margin-right: auto;
    width: 90%;
  }
  .first_text {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  .second-container {
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }
  .second_about_us_image {
    float: none;
    margin-left: 6%;
    margin-right: auto;
    width: 90%;
  }
  .second_text {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
}
@media only screen and (max-width: 440px) {
  .third-container h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 14px;
  }
}
